
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: green;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    
}

h3{
    text-align: center;
}